$darkbg: #303446;
$bg: #1E1E2E;
$contrastbg: #303446;
$bgSecondary: #303446;
$bgSecondaryAlt: #C6D0F5;
$fg: #C6D0F5;
$fgDim: #C6D0F5;
$watermelon: #E78284;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #626880;
$dimblack: #51576D;
$lightblack: #51576D;
$red: #E78284;
$blue: #8CAAEE;
$cyan: #81C8BE;
$blue-desaturated: #81C8BE;
$magenta: #F4B8E4;
$purple: #F4B8E4;
$green: #A6D189;
$aquamarine: #A6D189;
$yellow: #E5C890;
$accent: $blue;
$javacafeMagenta: #F4B8E4;
$javacafeBlue: #8CAAEE;
